<!DOCTYPE html>
<html>
  <head>
    <title>🤷‍ WhatCSS.info: CSS StyleSheet Pageload Analyser/Optimizer 🤷</title>
    <meta name="description" content="WhatCSS is Your Page Using? WhatCSS is a free, opensource CSS page load analyser and optimizer. Dramatically shrink your stylesheets!">
    <meta name="keywords" content="css,stylesheets,">
    <meta name="author" content="Domain Research Group">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootCSS -->
    <style>
    .col-md-4,.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem}.bg-light{background-color:#f8f9fa!important}a{color:#007bff;text-decoration:none;background-color:transparent}.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}button{border-radius:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}.navbar-light .navbar-toggler{color:rgba(0,0,0,.5);border-color:rgba(0,0,0,.1)}.navbar-toggler:not(:disabled):not(.disabled){cursor:pointer}.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:center center/100% 100% no-repeat}.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}.collapse:not(.show){display:none}.jumbotron{padding:4rem 2rem;margin-bottom:2rem;background-color:#e9ecef;border-radius:.3rem}.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}.bg-dark{background-color:#343a40!important}.card-header{padding:.75rem 1.25rem;margin-bottom:0;color:inherit;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit}.h1,h1{font-size:2.5rem}.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}.form-group{margin-bottom:1rem}.form-control{display:block;width:100%;height:calc(2.25rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1}.form-control::placeholder{color:#6c757d;opacity:1}.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.mb-2,.my-2{margin-bottom:.5rem!important}.btn:not(:disabled):not(.disabled){cursor:pointer}.h2,h2{font-size:2rem}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.flex-row{-ms-flex-direction:row!important;flex-direction:row!important}.flex-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-4,.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}img{vertical-align:middle;border-style:none}.h5,h5{font-size:1.25rem}.card-title{margin-bottom:.75rem}p{margin-top:0;margin-bottom:1rem}.card-text:last-child{margin-bottom:0}b,strong{font-weight:bolder}dl,ol,ul{margin-top:0;margin-bottom:1rem}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}code{font-size:87.5%;color:#e83e8c;word-break:break-word}hr{box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible;margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,.1)}.card>hr{margin-right:0;margin-left:0}
    </style>
    <!-- end bootCSS -->

    <!-- twitter card stuff -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@emoji_domains" />
    <meta name="twitter:creator" content="@runnr_az" />
    <meta property="og:url" content="https://whatcss.info" />
    <meta property="og:title" content="WhatCSS.info: CSS StyleSheet Pageload Analyser/Optimizer 🤷" />
    <meta property="og:description" content="WhatCSS is Your Page Using? WhatCSS is a free, opensource CSS page load analyser and optimizer. Dramatically shrink your stylesheets!"/>
    <meta property="og:image" content="https://whatcss.info/images/shrug.png" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" title="WhatCSS.info: CSS StyleSheet Pageload Analyser/Optimizer">WhatCSS.info</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#what" title="WhatCSS: You are Wasting CSS!">What</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#how" title="How Does WhatCSS Work?">How</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#usage" title="WhatCSS Usage">Usage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#optimize" title="1-2-3: How We Optimized WhatCSS.info">Optimzing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#api" title="What CSS API">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#filters" title="WhatCSS Filters">Filters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact" title="Contact Us">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/jonroig/whatcss">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/emoji_domains" title="Emoji Domains on Twitter">@emoji_domains</a>
          </li>
        </ul>
    </nav>

    {{{body}}}

    <hr/>
    <div style="text-align: center">
        <a href="https://twitter.com/emoji_domains" title="Emoji Domains on Twitter">@emoji_domains</a>
        | <a href="https://github.com/jonroig/whatcss" title="WhatCSS: CSS StyleSheet Pageload Analyser/Optimizer on Github">github.com/jonroig/whatcss</a>
      <br/>
      Emoji Domains? <a href="https://i❤️.ws" title="i❤️.ws emoji domains">i❤️.ws</a>
      <br/>
      © 2019 Domain Research Group<br/>
      Straight outta Scottsdale, AZ!
    </div>

    <!--
      google pagespeed insights suggested way of deferring styles
      ref: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery
    -->
    <noscript id="deferred-styles">
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"
      >
      <!-- other CSS files might go here -->
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
    <!-- end deferred styles -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
