<div class="card">
  <div class="card-header">
    <h1>CSS Analyser</h1>
  </div>
  <div class="card-body">
    <h2>Results for: {{thePage}}</h2>
    <p>
      WhatCSS.info is a free, opensource css page load analyser and optimizer.
      Brought to you by your friends at
      <a href="https://i❤️.ws" title="Emoji Domains">i❤️.ws emoji domains</a>,
      WhatCSS uses
      <a href="https://github.com/GoogleChrome/puppeteer" title="Puppeteer: Headless Chrome Node API">Puppeteer</a>,
      Google's Headless Chrome Node API, to control a browser instance, navigate to
      a site, and return which stylesheets are in use when the page is fully loaded.
    </p>
    <p>
      An explanation of stuff goes here.
    </p>
  </div>
</div>
